.profile-image {
    border-radius: 50%!important;
    transform: scale(1.4);
    margin: auto;
}

.tech-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
}

.tech {
    font-size: 350%;
    padding: 1rem;
}

.email-link,
.email2-link,
.resume-btn {
    font-weight: bold;
    text-decoration: none;
}

.email-link:hover,
.resume-btn:hover {
    color: #98c593!important;
}

.email2-link:hover {
    color: #76aa71!important;
}

.design-link {
    text-decoration: none;
}

textarea {
    resize: none;
}

.caption {
    background-color: #4c5fad!important;
    color: white!important;
    font-weight: bold;
}
